<h1>Edit <%= set.set_name %>:</h1>
<form id="edit_set" action="/sets" method="POST">
	<input type="hidden" name="_method" value="PUT">
	<input type="hidden" name="old_set_name" value=<%= set.set_name %>>

	<label>Name of set: </label>
	<input type="text" name="new_set_name" value=<%= set.set_name %>><br><br>

	<label>List of links: </label><br>
	<textarea name="link_list" form="edit_set" cols="35" rows="5"><%= set.link_list %></textarea><br><br>

	<input type="submit" value="Edit">
</form>