<!DOCTYPE html>
<html>
<head>
  <title><%= set_name %></title>
</head>

<body>
  <h1><%= set_name %></h1>
  <% for (i = 0; i < link_list.length; i++) { %>
  	<span><%= link_list[i] %></span><br>
  <% } %>
</body>
</html>