<h1><%= set.set_name %></h1>
<% for (i = 0; i < set.link_list.length; i++) { %>
	<span><%= set.link_list[i] %></span><br>
<% } %>

<form id="delete_set" action="/sets" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="set_name" value=<%= set.set_name %>>
	<input type="submit" value="Delete">
</form>
